/*--- FILTER ---*/

.container--filter {
  width: 780px;
}

/*--- FORM ---*/

.form {
  text-align: center;
}

.form__inputs {
  padding-bottom: 20px;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}

.form__input {
  display: inline-block;
  width: 40%;
 }

.form__input label,
.form__input input {
  display: block;
}

.form__input label {
  margin-bottom: 10px;
  color: #777;
}

.form__input input {
  width: 100%;
  height: 30px;
}

.form__input:first-child {
  margin-right: 15%;
}

.form__submit {
  padding: 40px 0;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.form__button {
  width: 320px;
  height: 80px;
  margin: 0 auto;
  font-size: 24px;
  border-radius: 40px;
  border: 5px solid #999;
  cursor: pointer;

}