/*--- TABLE ---*/

.container--table {
  width: 780px;
}

.table {
  padding: 40px 0;
}

.table__body {
  width: 100%;
  border: 0;
  border-spacing: 0px;
  border-left: 1px solid #e5e5e5; 
  border-bottom: 1px solid #e5e5e5; 
}

.table__body th,
.table__body td {
  padding: 10px;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}