/*--- HEADER ---*/

.header {
  
}

.container--header {
  padding: 20px 0;
  border-bottom: 1px solid #e5e5e5;
}

.signIn {
  float: right;
}

.signIn__user {
  display: inline-block;
  width: 160px;
  margin-right: 10px;
}

.fa-user {
  margin-right: 5px;
}
